* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: brown;
}

.heading {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.heading h1 {
  text-shadow: 2px 1px 0px;
  color: white;
}

.game {
  width: 500px;
  height: 700px;
}

.status {
  height: 20%;
  display: flex;
  align-items: center;
}

.status h1 {
  text-shadow: 2px 1px 0px;
  color: white;
}

.board {
  width: 100%;
  height: 80%;
}

.boardRow {
  width: 100%;
  height: 33%;
  display: flex;
}

.box {
  width: 30%;
  height: 90%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-shadow: 0px 0px 10px;
  cursor: pointer;
  background-color: #7A8EAE;
}

.playAgain {
  width: 100%;
  box-shadow: 0px 0px 10px;
  cursor: pointer;
}
.green{
  background-color: green;
}

@media screen and (max-width:540px) {
  .game {
    width: 100vw;
    height: 70vh;
    
  }
}